.reset-container {
  display: flex;
  justify-content: center;
  margin: 75px 0 75px 0;
  button {
    border: solid 7px $color-4;
    letter-spacing: 4px;
    font-family: $font-4;
    font-size: 28px;
    color: $color-4;
    width: 500px;
    height: 100px;
    border-radius: 15px;
    background: white;
    cursor: pointer;
    @include tablet {
      width: 300px;
      height: 70px;
      font-size: 20px;
    }
    @include mobile {
      width: 250px;
      height: 70px;
      font-size: 14px;
    }
  }
  button:hover {
    animation: evolvetext 400ms both ease-in-out;
  }

  .border:hover {
    animation: evolve 400ms both ease-in-out;
  }
}
