* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

// Choix des couleurs
$color-0: #f99f38;
$color-1: #ff5f6d;
$color-2: #ffc371;
$color-3: #000046;
$color-4: #356abc;
$color-5: #ffcc03;
$color-6: #f4f6f0;
$color-7: #56ccf2;
$color-8: #2f80ed;
$color-9: #009a17;
$color-10: #90ee90;
$color-11: #ff5e37;
$color-12: #023020;
$color-13: #c7effd;
$color-14: #231709;
$color-15: #eea237;
$color-16: #e03d14;
$color-17: #ecc079;
$color-18: #ecdd79;
$color-19: #8fd4eb;
$color-20: #030320;
$color-21: #4b0745;
$color-22: #c370cc;

*::selection {
  background: $color-4;
  color: white;
}
@font-face {
  font-family: PkmSolid;
  src: url("../assets/font/Pokemon\ Solid.ttf");
}

$font-1: "Lato", sans-serif;
$font-2: "Roboto", sans-serif;
$font-3: "Montserrat", sans-serif;
$font-4: "PkmSolid", sans-serif;

$font-weight-1: 400;
$font-weight-2: 500;
$font-weight-3: 700;

@mixin laptopVL {
  @media screen and (max-width: 2559px) {
    @content;
  }
}
@mixin laptopL {
  @media screen and (max-width: 1441px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1025px) {
    @content;
  }
}
@mixin laptopmax {
  @media screen and (min-width: 1025px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 769px) {
    @content;
  }
}
@mixin mobile {
  @media screen and (max-width: 425px) {
    @content;
  }
}
